<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>00</string>
		<key>desc</key>
		<string>伸出手，给你饼干</string>
		<key>title</key>
		<string>你要不要饼干</string>
	</dict>
	<dict>
		<key>number</key>
		<string>11</string>
		<key>desc</key>
		<string>愤怒</string>
		<key>title</key>
		<string>不吃算啦</string>
	</dict>
	<dict>
		<key>number</key>
		<string>22</string>
		<key>desc</key>
		<string>自己吃</string>
		<key>title</key>
		<string>不给</string>
	</dict>
	<dict>
		<key>number</key>
		<string>33</string>
		<key>desc</key>
		<string>伸出手，给你饼干</string>
		<key>title</key>
		<string>给你吃饼干</string>
	</dict>
	<dict>
		<key>number</key>
		<string>44</string>
		<key>desc</key>
		<string>嘿嘿</string>
		<key>title</key>
		<string>吃了这饼干，你就是我老婆了</string>
	</dict>
	<dict>
		<key>number</key>
		<string>55</string>
		<key>desc</key>
		<string>嘻嘻</string>
		<key>title</key>
		<string>不吃这饼干，你就是我女朋友</string>
		<key>New item</key>
		<string></string>
	</dict>
	<dict>
		<key>number</key>
		<string>66</string>
		<key>desc</key>
		<string>哈哈</string>
		<key>title</key>
		<string>你说我智障，是不是喜欢我</string>
	</dict>
	<dict>
		<key>number</key>
		<string>77</string>
		<key>desc</key>
		<string>得意</string>
		<key>title</key>
		<string>你说我可爱，是不是爱上我啦？</string>
	</dict>
	<dict>
		<key>number</key>
		<string>88</string>
		<key>desc</key>
		<string>看你怎么办</string>
		<key>title</key>
		<string>选择无视我，你就是暗恋我</string>
	</dict>
	<dict>
		<key>number</key>
		<string>99</string>
		<key>desc</key>
		<string>没辙了吧</string>
		<key>title</key>
		<string>吐我脸上，就是想嫁给我</string>
	</dict>
</array>
</plist>
